<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headElement">
<title>Upload profile Picture</title>
</head>
<body class="editProfileForm">
	<!--Navigation Bar-->
	<div th:insert="fragments :: navBar"></div>
	<!--Container for the form-->
	<div class="formWrap">
			<i class="fas fa-user-edit"></i>
			<div class = "form-group">
				<h1>Upload Profile Picture</h1>
				<h4>Upload a profile picture from your computer and click the 'Upload' button</h4>
			</div>
			<form method="post" class = "editForm" action = "/editProfile/photo" id = "photoUploadForm" enctype="multipart/form-data">
				<!--CSRF Token-->
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="form-group">
					<input type = "file" name = "image">
				</div>
				<div class = "invalid-feedback form-group"></div>
				<button class = "loadFormButton" type = "submit">Upload</button>
			</form>
			<div class = "loadingArea">
				<img th:src="@{/images/loadingGif.gif}" alt="loadingGif" class="loadingGif">
				<h6>Loading</h6>
			</div>
		</div>
	<!--Footer-->
	<div th:insert="fragments :: footer"></div>
	<!--JavaScript Scripts-->
	<div th:insert="fragments :: jsScripts"></div>
</body>