<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headElement">
<title>Change Hourly Rate</title>
</head>
<body class="editProfileForm">
	<!--Navigation Bar-->
	<div th:insert="fragments :: navBar"></div>
	<!--Container for the form-->
	<div class="formWrap">
			<i class="fas fa-user-edit"></i>
			<div class = "form-group">
				<h1>Change Hourly Rate</h1>
				<h4>Change your hourly rate by adjusting your current rate and clicking the 'Change Hourly Rate' button</h4>
			</div>
			<form method="post" class = "editForm" action = "/editProfile/rate">
				<!--CSRF Token-->
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="form-group">
				<label for="rate">(&euro;)Your Hourly Rate</label> 
				<input type="number" class="form-control" name = "rate" step = ".01" th:value = "${rate}" required>
			</div>
				<button type = "submit" class = "validButton">Change Hourly Rate</button>
			</form>
		</div>
	<!--Footer-->
	<div th:insert="fragments :: footer"></div>
	<!--JavaScript Scripts-->
	<div th:insert="fragments :: jsScripts"></div>
</body>
</html>