<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include = "fragments :: headElement">
	<title>View Instructor</title>
</head>
<body class = "profileBody">
	<!--Navigation Bar-->
	<div th:insert = "fragments :: navBar"></div>
	<div class="imgArea">
		<p th:text="${message}" class="pageMessage"></p>
		<h1 class="pageHeading" th:text ="${instructor.firstName} + ' ' + ${instructor.lastName}"></h1>
		<img th:src="@{/images/magnifyingGlass.jpg}" alt="hiddenMusicians" class="pageBannerImg">
	</div>
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-sm-12 col-md-6">
				<div class = "profileText">
					<h3 class = "font-weight-bold">Instructor Description</h3>
					<p th:text = "${instructor.description}"></p>
					<span class = "font-weight-bold">Genre Speciality: </span>
					<span th:text = "${instructor.genreId.genreName}"></span>
					<br>
					<span class = "font-weight-bold">My Hourly Rate: </span>
					<span th:text = "&#8364; + ${instructor.hourlyRate}"></span>
					<!--Display the instructors favourite artists-->
					<h4 class = "font-weight-bold">Favourite Artists:</h4>
					<ul>
						<th:block th:each = "artist: ${instructor.favouriteArtists}">
							<li th:text = "${artist.artist.artistName}"></li>
						</th:block>
					</ul>
					<!--Display the instructors instruments-->
					<h4 class = "font-weight-bold">Instruments I Teach:</h4>
					<ul>
						<th:block th:each = "instrument: ${instructor.instruments}">
							<li th:text = "${instrument.instrument.name}"></li>
						</th:block>
					</ul>
					<!--Display the instructors video calling platforms-->
					<h4 class = "font-weight-bold">Video calling Platforms I Use</h4>
					<ul>
						<th:block th:each = "videoTool: ${instructor.videoTools}">
							<li th:text = "${videoTool.videoTool.name}"></li>
						</th:block>
					</ul>
				</div>
			</div>
			<!--Instructors picture-->
			<div class = "col-sm-12 col-md-6 order-first order-md-2 instructorPhoto">
				<img th:if = "${instructor.profilePhoto} != null "th:src="${instructor.profilePhoto.imageUrl}">
				<i th:if = "${instructor.profilePhoto} == null" class="fas fa-chalkboard-teacher" ></i>
			</div>
		</div>
		<div class = "profileButtonsWrap">
			<!--The content in the div below will only be shown if the user is not logged in-->
			<div sec:authorize="isAnonymous()">
				<p>Log into a Student account to request a lesson with this instructor</p>
				<div class="row">
					<div class="col-sm-12 studentButtons">
						<a th:href="@{/student/login}"><button class="validButton">Login</button></a>
						<a th:href="@{/register/student}"><button class="declineButton">Register</button></a>
					</div>
				</div>
			</div>
			<!--The content in the div below will only be shown if the user is a logged in instructor or instructor candidate-->
			<div sec:authorize="isAuthenticated() && ({#authentication.getPrincipal().getRole == 'instructor'} || {#authentication.getPrincipal().getRole == 'candidate'})">
				<p>Log into a Student account to request a lesson with this instructor</p>
			</div>
			<!--The div below will only be visible if the user is a logged in student-->
			<div class = "row" sec:authorize="isAuthenticated() && {#authentication.getPrincipal().getRole == 'student'}">
				<div class = "col-sm-12">
					<a th:href = "@{'/student/instructor/'} + ${instructor.instructorId} + @{'/requestLesson'}">
						<button type="submit" class="validButton">Request Lesson</button>
					</a>
				</div>
			</div>
		</div>
		<!--Comments Area-->
		<div class = "row">
			<div class = "comments">
				<div class = "commentWrapper">
					<i class="fas fa-pen"></i>
					<h4>Student Comments</h4>
					<!--If there are no comments-->
					<div th:if = "${comments =='emptyRepo'}">
							<div class = "row">
								<p class = "noCommentMessage">It looks like there are no comments for this instructor yet</p>
							</div>
					</div>
					<!--Show comments if there are comments-->
					<div th:unless = "${comments =='emptyRepo'}">
						<th:block th:each="comment: ${comments}">
							<div class = "comment">
								<div class = "row">
									<div class = "col-sm-12 col-md-2 commentDetails">
										<i class="fas fa-user"></i>
										<p th:text = "'Posted' + ' by: ' + ${comment.student.firstName} "></p>
										<p th:text = "${comment.creationDate}"></p>
									</div>
									<div class = "col-sm-12 col-md-10 order-first order-md-2">
										<p class = "commentContent" th:text = "${comment.commentText}"></p>
									</div>
								</div>
								<!--Each comment will have a delete option if the user is a logged in admin-->
								<div class = "profileButtonsWrap">
									<a sec:authorize="isAuthenticated()" th:if = "${#authentication.getPrincipal().getRole == 'admin'}" th:href = "@{'/instructor/profile/deleteComment/'} + ${comment.commentId}">
										<button class = "validButton">Delete</button>
									</a>
								</div>
							</div>
						</th:block>
					</div>
					<!--If the user is a logged in student they will have the ability to post a comment here-->
					<div sec:authorize="isAuthenticated()" th:if = "${#authentication.getPrincipal().getRole == 'student'}">
						<!--If there are no comments to display-->
						<div  class = "text-center">
							<form method = "post" action = "/postComment" id = "commentForm"> 
								<!--CSRF Token-->
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<!--Get the instructor's id-->
								<input type = "hidden" th:value = "${instructor.instructorId}" name = "instructorId">
								<div class = "form-group">
									<textarea th:if = "${comments =='emptyRepo'}" class = "commentArea" name = "comment" placeholder = "There are no comments for this instructor yet. Be the first to leave a comment!"></textarea>
									<textarea th:unless = "${comments =='emptyRepo'}" class = "commentArea" name = "comment" placeholder = "Leave a Comment!"></textarea>
								</div>
								<div class = "form-group invalid-feedback"></div>
								<div class = "loadingArea">
									<img th:src="@{/images/loadingGif.gif}" alt="loadingGif" class="loadingGif">
									<h6>Loading</h6>
								</div>
								<button type = "submit" class = "validButton">Leave Comment</button>
							</form>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<!--Footer-->
		<div class = "row">
			<div th:insert = "fragments :: footer"></div>
		</div>
	</div>
	<!--JavaScript Scripts-->
	<div th:insert = "fragments :: jsScripts"></div>
</body>
</html>