<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headElement">
<title>View Application</title>
</head>
<body>
	<!--Navigation Bar-->
	<div th:insert="fragments :: navBar"></div>
	<h1 class="text-center m-5">View Application</h1>
	<h2 class="text-center">Your application details are shown below</h2>
	<div class="container-fluid">
		<div class="candidateRow">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<!--Display applicant name-->
					<span class = "font-weight-bold">Name: </span>
					<span th:text="${candidate.firstName} + ' ' + ${candidate.lastName}"></span>
					<br>
					<!--Display applicant email Address-->
					<span class = "font-weight-bold">Email: </span>
					<span th:text="${candidate.email}"></span>
					<br>
					<!--Display the date the application was made-->
					<span class = "font-weight-bold">Applied: </span>
					<span th:text="${candidate.application.creationDate}"></span>
					<br>
					<!--Display hourly rate-->
					<span class = "font-weight-bold">Hourly Rate: </span>
					<span th:text="&#8364; + ${candidate.hourlyRate}"></span>
					<br>
					<!--Display Genre-->
					<span class="font-weight-bold">Genre:</span> 
					<span th:text="${candidate.genreId.genreName}"></span>
				</div>
				<!--Display the candidates description-->
				<div class = "col-sm-12 col-md-4">
					<p class="instructorDescription" th:text="${candidate.description}"></p>
				</div>
				<div class="col-sm-12 col-md-4">
					<!--Display the application status and admin id appication is assigned to-->
					<div class="row">
						<div class="col-sm-12 requestStatus">
							<h1 th:text="Status + ': ' + ${candidate.application.status.statusType}"></h1>
							<h2 th:text="Assigned + ' to' + ' AdminId' + ': ' + ${candidate.application.admin.adminId}"></h2>
						</div>
					</div>
				</div>
			</div>
			<div class = "row applicationPreferences">
				<div class="col-sm-12 col-md-4">
					<!--Display video calling tools  -->
					<th:block th:if="${candidate.videoTools.size()==1}">
						<span class="font-weight-bold">Video Tool:</span>
						<span th:text="${candidate.videoTools.get(0).videoTool.name}"></span>
					</th:block>
					<th:block th:if="${candidate.videoTools.size()>1}">
						<ul>
							<li class="font-weight-bold">Video Tools</li>
							<th:block th:each="videoTool: ${candidate.videoTools}">
								<li th:text="${videoTool.videoTool.name}"></li>
							</th:block>
						</ul>
					</th:block>
				</div>
				<div class="col-sm-12 col-md-4">
					<!--Display instruments-->
					<th:block th:if="${candidate.instruments.size()==1}">
						<span class="font-weight-bold">Instrument: </span>
						<span th:text="${candidate.instruments.get(0).instrument.name}"></span>
					</th:block>
					<th:block th:if="${candidate.instruments.size()>1}">
						<ul>
							<li class="font-weight-bold">Instruments</li>
							<th:block th:each="instrument: ${candidate.instruments}">
								<li th:text="${instrument.instrument.name}"></li>
							</th:block>
						</ul>
					</th:block>
				</div>
				<div class="col-sm-12 col-md-4">
					<th:block th:if="${candidate.favouriteArtists.size()==1}">
						<span class="font-weight-bold">Favourite Artist: </span>
						<span th:text="${candidate.favouriteArtists.get(0).artist.artistName}"></span>
					</th:block>
					<th:block th:if="${candidate.favouriteArtists.size()>1}">
						<ul>
							<li class="font-weight-bold">Favourite Artists</li>
							<th:block th:each="artist: ${candidate.favouriteArtists}">
								<li th:text="${artist.artist.artistName}"></li>
							</th:block>
						</ul>
					</th:block>
				</div>
			</div>
		</div>
		<!--Footer-->
		<div class = "row">
			<div th:insert="fragments :: footer"></div>
		</div>
	</div>
		<!--JavaScript Scripts-->
		<div th:insert="fragments :: jsScripts"></div>
</body>
</html>